* {
  padding: 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  border: 1px dashed magenta;
}


$mainDark: #531fc0;
$mainBright: #7841f4;
$accentDark: #1cd4a3;
$accentBright: #1bfec0;
$text: #202020;
$bgForm: #fcfcfd;
$brdersForm: #dfdfe4;

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  max-height:100%;
  width: 100vw;
  max-width:100%;
  background-color: #242424;
  z-index: -1;
  overflow: hidden;
  #gradient {
    position: absolute;
    left: -30px;
    top: -108px;
  }
  #lines-top {
    position: absolute;
    z-index: -1;
    left: 217px;
  }
  #lines-bottom {
    position: absolute;
    left: -220px;
    bottom: 0;
  }
}





#form {
  position: relative;
  width: 290px;
  height: 512px;
  background-color: $bgForm;
  margin-top: 90px;
  header h1 {
    margin-top: -90px;
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
    line-height: 90px;
  }
}
