* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

$bgColor: #242424;
$mainDark: #531fc0;
$mainBright: #7841f4;
$accentDark: #1cd4a3;
$accentBright: #1bfec0;
$text: #202020;
$bgForm: #fcfcfd;
$bordersForm: #dfdfe4;
$label: #a2a2af;

html {
  font-size: 62.5%;
}

p, h2, input, select, span {
  color: $text;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.grid-container {
  width: 290px;
  margin: 0 auto;

  @media (min-width: 800px) {
  //   [class*='col-'] {
  //     float: none;
  //     width: 100%;
    //max-width: 778px;
  }

  .row {
      margin: 0 auto;
    &:before,
    &:after {
      content : " ";
      display : table;
      clear: both;
    }

    [class*='col'] {
      float: left;
      min-height: 1px;
      padding: 0;
    }
    .left {
      display: none;
    }
    .right {
      width: 290px;
    }

    // @media (max-width: 550px) {
    //   [class*='col-'] {
    //     float: none;
    //     width: 100%;
    //   }
    // }
  }
}



#background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  background-color: $bgColor;
  z-index: -1;
  overflow: hidden;
  #gradient {
    position: absolute;
    left: -30px;
    top: -108px;
  }
  #lines-top {
    position: absolute;
    z-index: -1;
    left: 217px;
  }
  #lines-bottom {
    position: absolute;
    left: -220px;
    bottom: 0;
  }
}

.flex-container {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
}

header h1 {
  font-size: 3.6rem;
  font-weight: 300;
  color: #ffffff;
  padding-left: 30px;
  line-height: 90px;
}


#form {
  width: 290px;
  height: 512px;
  background-color: $bgForm;
  padding: 35px 15px;
  h2 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding-left: 15px;
  }
  label[for="name"], legend {
    color: $label;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 28px;
    padding-left: 15px;
    display: block;
  }
  fieldset {
    border: none;
  }
  input, select {
    font-size: 1.6rem;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $bordersForm;
    padding: 0 0 15px 15px;
    &:focus {
      outline-style:none;
      border-bottom: 2px solid $mainDark;
    }
    &[type="number"], &[type="tel"] {
      padding-bottom: 16px;
    }
    &[id="name"] {
      width: 260px;
    }
    &[id="prefix"] {
      width: 114px;
    }
    &[id="tel-number"] {
      width: 131px;
      margin-left: 12px;
    }

  }
  label[for="dobMonth-name"], #dobMonth-name {
    display: none;
  }
  #dobDay, #dobMonth-num, #dobYear {
    height: 50px;
    width: 50px;
    border: 2px solid $bordersForm;
    padding: 0;
    padding-left: 12px;
    &:focus {
      outline-style:none;
      border: 2px solid $mainDark;
    }
  }
  #dobYear {
    width: 103px;
  }
  .hyphen {
    display: inline-block;
    height: 2px;
    width: 10px;
    background: $bordersForm;
    vertical-align: middle;
    margin: 0 7px 0 6px;
  }
}


// https://webdesign.tutsplus.com/articles/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953

input[type="radio"] {
    display:none;
}


input[type="radio"] + label span {
  display:inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid $bordersForm;
  text-align: center;
  padding-top: 10px;
  vertical-align: middle;
  position: relative;
  cursor:pointer;

  &::after {
    content: " ";
    background-color: $bgForm;
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid $bordersForm;
    right: -8px;
    top: 15px;
  }
}
[for="female"] {
  margin-left: 26px;
}

input[type="radio"]:checked + label span {
  border: 2px solid $accentDark;
  &::after {
    content: url('../images/fill.png');
    text-align: center;
    border: 2px solid $accentDark;
  }
}
