* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

$mainDark: #531fc0;
$mainBright: #7841f4;
$accentDark: #1cd4a3;
$accentBright: #1bfec0;

$text: #202020;
$bgForm: #fcfcfd;
$brdersForm: #dfdfe4;
